table, th, td {
    border:1px solid  black;
   
}
body{
    
    background-image:url(https://gitiho.com/caches/p_medium_large//uploads/338054/images/image_26-hinh-nen-powerpoint-ve-dang-cong-san-viet-nam.jpg);
    background-attachment: fixed;
    background-size:100% 100% ;
    background-repeat: no-repeat;

}
.tieu-de{
    font-family: Arial ;
    font-size: 18pt;
    font-weight: bold;
    color:blue
}
body{
    text-align: center;
    font-family: Arial;
    font-size: 14pt;
    font-style: italic;
    color:blueviolet
    
}
a {
    text-decoration: none;
    font-style: italic;
    color:green
    
}
